PORT=4000
MIDNIGHT_NETWORK_ID=preview
MIDNIGHT_INDEXER_URL=https://indexer.preview.midnight.network/api/v4/graphql
MIDNIGHT_INDEXER_WS_URL=wss://indexer.preview.midnight.network/api/v4/graphql/ws
USDM_TOKEN_COLOR=003bacd9a361ba0d425e408776020e40271375e8b8de42d73eec046a44947d73
